body {
	background-image: url("	https://cdn.discordapp.com/attachments/1031234561880903791/1031234832665170070/UE4B7e25C37NDmjlYBQ4--1--nht7u_15.625x.jpg");
        background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	margin: 30px;
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 600px) {
  body {
  }
   #doboz {
	   width: 100%;
	   height: auto;
}

#doboz {
	background: rgba(25, 25, 25, 0.7);
	opacity: 0.9;
	margin: auto;
	padding: 20px;
    width:700px;
	max-width: 700px;
    height: auto;
    border-radius:15px;
	box-shadow: 0 6px 15px #000000;
}

.h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
  color: white;
  width: 300px;
  height: 100px;
  padding-top: 50px;
}

.title {
     text-align: center;
	font-family: 'Cinzel', serif;
    color: #669980;
    font-size:35px;
    word-spacing: 1px;
	padding-top: 2px;
	margin-top: -10px;
    margin-bottom:10px;
    text-transform: uppercase;
}

.desc {
	font-family: 'Berkshire Swash', cursive;
	font-size: 24px;
	color:rgb(80, 50, 50);
	margin-top: -8px;
	padding-left: 1px;
	text-align: center;
	text-shadow: 2px 2px 4px  rgb(50, 20, 20);
}

.desc2 {
	font-family: 'Merienda', cursive;
	font-size: 16px;
	color: #669980;
	margin-top: 8px;
	padding-left: px;
	text-align: center;
}

.smoltext {
	color: #737373;
	font-family: 'Darker Grotesque', sans-serif;
}

#line {
	margin-top: -20px;
	text-align: center;
	color:  rgb(10, 10, 10);
}

#lore { 
	background: rgba(10, 10, 10, 0.7);
	margin: 10px;
	padding-top: 20px;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
	color: #737373;
	height: 500px;
	overflow: auto;
}

#lore:hover {
	color: #3d5c54;
	transition: color 0.2s;
}

#lore::first-letter {
	-webkit-initial-letter: 2.2;
	initial-letter: 2.2;
	font-family: 'Berkshire Swash', cursive;
	margin-top: -5px;
}

.campaign {
	background: rgba(10, 10, 10, 0.7);
	padding-borrom: 2px;
	margin-top: 20px;
	border-radius: 15px;
	text-align: center;
	color: #737373;
}

#chardoboz {
	margin-bottom: 50px;
	position: relative;
	text-align: center;
}

#chardoboz .karakterek {
	display: inline;
	float: center;
}

.karakterek {
	position: relative;
	text-align: center;
}

.character {
	box-shadow: 2px 0 5px #092834;
	object-fit: cover;
	width: 120px;
	height: 150px;
	border-radius: 100px;
	margin: 5px;
	 filter: grayscale(100%);
	 opacity: 1;
 }
 
.character:hover {
	 filter: grayscale(0%);
	 transition: filter 0.2s;
 }
 
.karakterek .tooltiptext2 {
  font-family: 'Cinzel', serif;
  color: #737373;
  font-size: 11px;
  visibility: hidden;
  width: 125px;
  background: rgb(50, 20, 20);
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  padding: 10px;
  border-radius: 6px;
 }
 
.karakterek:hover .tooltiptext2 {
  visibility: visible;
}

#navbar {
	text-align: center;
	margin-top: -10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
}

li {
  display: inline;
}

.navbaricon {
	margin-top: 10px;
	width: 60px;
	opacity: 0.8;
	padding: 15px;
	text-align: center;
}


.container {
  position: relative;
  text-align: center;
  color: white;
  display: inline;
}

.container li{
display: inline
}

.tooltiptext {
  margin-top: -45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background: rgb(20, 20, 20);
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  font-family: 'Darker Grotesque', sans-serif;
  color: #669980;
  font-size: 14px;
 }
 
 a:hover .navbaricon{
	opacity: 0.35;
	transition: opacity 0.2s;
}

.container:hover .tooltiptext{
	visibility: visible;
	opacity: 1;
}
